@keyframes flutuar {

    from {
        transform: translateX(100%);
        filter: blur(200px);
    }

    to {
        transform: translateX(0%);
        filter: blur(0px);
    }
}

@keyframes flutuar2 {

    from {
        transform: translateX(-100%);
        filter: blur(200px);
    }

    to {
        transform: translateX(0%);
        filter: blur(0px);
    }
}

@keyframes flutuar3 {

    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes flutuar4 {

    from {
        transform: translateY(100%);
        filter: blur(200px);
    }

    to {
        transform: translateY(0%);
        filter: blur(0px);
    }
}

#navbar {
    animation: flutuar3 0.5s ease-in;
}

.home .home-img img {
  
    animation: flutuar 1s ease-in-out;
}

.home .home-text {
   
    animation: flutuar2 1s ease-in-out;
}

.ux .ux-text{
    animation: flutuar2 1.2s ease-in-out;
}

section.priority .flex{
    animation: flutuar 1s ease-in-out;
}

section.home-areas  .homeArea-copy .sugestao-areas-mobile{
    animation: flutuar2 1.2s ease-in-out;
}

section.home-areas  .homeArea-copy{
    animation: flutuar2 1s ease-in-out;
}

section.home-areas .homeArea-img {
    animation: flutuar4 1.5s ease-in-out;
}

@keyframes girar {
    from {
      transform: rotate(-20deg);
    }
    to {
      transform: rotate(20deg);
    }

    100%, 50%, 0% {
        opacity: 1; /* Visível */
      }
      75%, 25% {
        opacity: 0; /* Invisível */
      }
  }

